@import "./scss/configurations";

.header {
  @include FlexBox;
  width: 100%;
  height: 96px;
  position: absolute;
  top: 50px;
  right: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: URL("./assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
}
