@import "../../../scss/configurations";

.navbar__list {
  @include FlexBox(row, space-evenly);
  width: 100%;
  height: 100%;
  color: $white;
  list-style: none;

  &-link {
    display: flex;
    height: 96px;
    align-items: center;

    &_number {
      @include NavFontStyle;
      margin-right: 10px;
    }

    &_text {
      @include NavFontStyle;
    }
  }
}
